<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %>
<body>
    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs') %>

    <% if(typeof message !== 'undefined') { %>
        <%= message %>
    <% } %>

    <form method="POST" action="/register/add">
        <div>
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" placeholder="Digite o seu nome">
        </div>
        <div>
            <label for="age">Idade</label>
            <input type="text" name="age" id="age" placeholder="Digite a sua idade">
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" placeholder="Digite o seu e-mail">
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="text" name="password" id="password" placeholder="Digite a sua senha">
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    <%- include('partials/foot.ejs') %>
</body>
</html>